@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes flash {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.flash {
    animation: flash 1s ease-in-out infinite;
}

.swal-modal {
    @apply max-w-[90%] w-auto p-0 rounded-lg;
}

.modal-content {
    @apply flex justify-center items-center;
}

.modal-image {
    @apply max-w-full h-auto rounded-lg;
}
